.mainDiv {
  display: flex;
  /* flex-direction: column; */
  margin-top: 20px;
}
.buyItemForm {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 5px;
}
.textLabel {
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
}
.inputText {
  display: flex;
  flex-direction: column;
}
