* {
  margin: 0;
}
.mainDiv {
  display: flex;
}
.cartproducts {
  width: 261px;
  height: 270px;
  border-radius: 15px;
  margin: 100px;
  display: flex;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #888888;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.childDiv {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  block-size: fit-content;
  border: 1px solid black;
}
.TotalPrice {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  text-align: right;
  text-decoration: underline;
  padding: 8px;
  background-color: #f5f5f5;
}
.cartImage {
  width: 70px;
  padding: 12px;
}

.removeBtn {
  background-color: #ff6347;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 0px #d43f3a;
  text-shadow: 1px 1px 0px #a83131;
  transition: all 0.2s ease-in-out;
  padding: 5px 17px;
}

.removeBtn:hover {
  background-color: #d43f3a;
  box-shadow: 0px 5px 0px #a83131;
}
.removeBtn {
  margin-bottom: 12px;
}
.subtotal {
  padding: 12px;
  font-weight: bold;
  font-size: 19px;
}
.productTitle {
  text-align: center;
  padding: 2px;
}
