.LoginComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.forgotPassword {
  margin: 12px;
  font-size: 13px;
  font-style: italic;
  cursor: pointer;
  color: red;
}
input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}
input:focus {
  border-color: #6c63ff;
}
label {
  display: inline-block;
  padding: 12px;
  margin-right: 10px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
