.Main-class {
  display: grid;
  /* background: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/June23/ATF/UNREC/Shoes/2/3000._CB587551726_.jpg"); */
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 200px; */
  /* background-size: 150px; */
  grid-template-rows: 200px 200px 300px;
}
.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.childDiv {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.title {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.image {
  width: 50px;
  padding: 12px;
  margin-top: -12px;
}
.addbutton {
  background-color: #ff6347;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 0px #d43f3a;
  text-shadow: 1px 1px 0px #a83131;
  transition: all 0.2s ease-in-out;
  padding: 5px 17px;
  height: 22px;
  margin-top: 8px;
}
.addbutton:hover {
  background-color: #d43f3a;
  box-shadow: 0px 5px 0px #a83131;
}
.product {
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 100px;
  display: flex;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #888888;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description {
  text-align: center;
}
.productsname {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
}

@media screen and (max-width: 1200px) {
  .productsname {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 820px) {
  .productsname {
    grid-template-columns: 1fr;
  }
}
